<h2>Post</h2>
<%= form_for Post.new do |f|%>
<form>
<div class="form-group">
  <label for="author-name">Author</label>
  <%= f.text_field :author, class: "form-control", id: "author-name", placeholder: "Enter your name", required: true %>
</div>
<div class="form-group">
  <label for="post-body">Body</label>
  <%= f.text_area :body, class: "form-control", id: "post-body", rows: "3" %>
</div>
<%= f.submit "Submit", class: "btn btn-primary" %>
</form>
<% end %>